.brown-nav {
  .brown-logo-color {
    height: 50px;
    margin-right: 1rem;
  }
  .ccv-logo {
    height: 40px;
    .c1 {
      fill: $yellow;
      fill-opacity: 1;
    }
    .c2 {
      fill: $green;
      fill-opacity: 1;
    }
    .v {
      fill: $yellow;
      fill-opacity: 1;
    }
  }
}
