@import "~brown-university-styles/dist/styles.css";

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
    height: 30px;
    width: 100%;
    text-align: center;
}

.bcbi-logo {
  width: 16vw;
}

.main-content {
  padding: 2vw 3vw;
}

.nav-item {
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title-bar {
  height: 50px;
}
